/* General */

body{
	background: #ED213A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	font-family: 'Lobster', cursive;
}

a{

	color:#291701;
	font-weight: bold;

}

/* Header */

header{
	
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding-top: 15px;
	padding-bottom: 18px
}

header img{
	
	width: 220px;
	height: 120px

}

.fa-facebook-f
{
 background-color: #3b5998 ;
 border-radius: 80%;
 font-size: 25px;
 border: 1x solid grey;
 padding:10px;
 text-align: center;
 width: 45px
}

.fa-twitter
{
 background-color: #00acee ;
 border-radius: 80%;
 font-size: 25px;
 text-align: center;
 border: 1x solid grey;
 padding:10px;
 width: 45px
}


.instagram {
  display: inline-block;
  border-radius: 80%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  width: 45px
}

.fa-youtube
{
 background-color: #fff ;
 color:#ff0000 ;
 font-size: 25px;
 border-radius: 80%;
 text-align: center;
 border: 1x solid grey;
 padding:10px;
 width: 45px
}

.menu-bar{

	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: right;
	margin-top: 30px;
	margin-bottom: -35px;
}

.menu-bar a{
	color:#2a1000;
	font-size: 16px;
	font-weight: 500;
}

.menu-bar a:hover{

	text-decoration: none;
	color: #fff;

}

.menu-list{
	padding:12px 0px;
}

.menu-list > li:not(:last-child){
	margin-right: 40px
}

/* Main */

#main > .container{

	box-shadow: 0 7px 18px rgba(0, 0, 0, .5);

}

/* Content */

#slider-home{
	padding-top: 0px;
	margin-bottom: 50px;
}

.promo{

	width: 150px;

}

.carousel-caption{

	background-color:  rgba(41, 23, 1, 0.75);
	height: 100%;
	left:0;
	top:0;
	padding: 30px 40px;
	text-align: left;
	width: 340px;

}

.carousel-caption p{
	font-size: 14px;
	line-height: 18px;
}

.carousel-caption h2{
	font-size: 26px;
	line-height: 30px;
}

.carousel-caption .h4{
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 15px;
}

.carousel-caption img{

	display:block;
	max-width: 100%;
	height: auto;
	margin:0 auto;
}

.carousel-caption a{

	border-radius: 0;
	font-weight: bold;
	color:#291701;
	border: none;
}

.comida{

	height: 700px;

}

/* Info Content */

.fondo-centro{
	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3{
	font-size: 24px;
	border-bottom: 1px solid #9e9e9e;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

h3 i{

	color: #ED213A;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p{
	font-size: 16px;
}

.camara{

	padding-top: 50px

}

.lugar{
	
	margin-bottom: 40px

}

/* Footer */

.sidebar-zone{

	background: #403B4A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-top: 20px;
}

.sidebar-zone a{

	margin-bottom: 18px;
	display: block;
}

.sidebar-zone a:hover{
	color:#291701;
}

.footer{
	border-top: 2px solid red;
	background: #403B4A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 10px 0px;
	font-size: 15px
}

.footer a:hover{

	color: red;
}